body {
  background: url("./images/87_fedora_29_background-wallpaper-2880x1800.jpg");
  background-size: cover;   
  background-color: #07010F;   
  max-width: 100%;
  display: block;
  height: auto;
}

* {
  box-sizing: border-box;
}

.arrangeButton {
  border: 3px solid black;
  background-color: rgba(10,10,10,0.5);
  color: grey;
}

h1 {
  font-family: Arial;
  text-align: center;
  color: rgba(0,0,0);
  background-color:rgba(135,23,26,0.3);
}

h5 {
  font-family: Arial;
  text-align: center;
  color: rgba(0,0,0);
  background-color:rgba(135,23,26,0.3);
}

h2 {
  font-family: Arial;
  text-align: left;
  letter-spacing: 0.2em;
  border-bottom: 2px solid;
  color: rgba(36,36,36,0.8);
}

a {
  font-family: Arial;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  line-height: 1.3;
  padding-left: 5px;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: rgba(36,36,36,0.8);
  padding: 0.1em 0.1em;
  justify-content: center;
  border-radius: 1px;
  border: 3px solid black;
  margin: 0px 10px 0px 10px;
}

.column {
  flex: 24%;
  max-width: 25%;
  padding: 5px;
  margin: 0px 2px;
  background-color:rgba(135,23,26,0.6);
  border-radius: 1px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 49%;
    max-width: 50%;
    padding: 4px;
    margin: 0px 1px;
    background-color:rgba(135,23,26,0.6);
    border-radius: 1px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 4px;
    margin: 0px 1px;
    background-color:rgba(135,23,26,0.6);
    border-radius: 1px;
  }
}